.listitem{
    background-color: rgb(126, 141, 168);
    padding-bottom: 40px;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 25px;
    width: 470px;
}
img{
  padding-top: 40px;
  padding-left: 20px;
}
.addbutton{
        color:rgb(204, 218, 231);
        margin-left: 30px;
        background-color: rgb(83, 90, 112);
        border-radius: 10px;
        height: 30px;
        border: 1px solid rgb(124, 161, 209);
}