.src{
    border: none;
    width: 230px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid rgb(119, 110, 110);
    margin-left: 130px;
    background-color: rgb(177, 216, 216);

}
.btn{
    margin-left: 5px;
    border: 1px solid rgb(187, 183, 183);
    height: 30px;
    background-color: rgb(177, 216, 216);
}